
     <img id ="meetupLogo"src="../assets/meeuplogo-01.png">
    
    <h1>Create Account</h1>
    <form action="/signup" method="POST">
        <div class="myForm" text-align="center">
        <label for="email" style="display: block">Email Address          </br>(example@example.com</label>
        <input type ="text" name="email" placeholder="Email Address">
        <label for="username" style="display: block">Create Username        </br>(this will be visible to contacts)</label>
        <input type ="text" name="username" id="username"placeholder="Username">
        <label for="password"style="display: block">Create Password</label>
        <input type ="password" name="password" placeholder="Password"></br></br>
        <input type ="submit" value="SignUp" style="display: block" id="signUpSubmit" class ="btn waves-effect waves-light">
    </div>
    </form>
         <script src="/js/script.js"></script>