.btn-right{
    float: right;
}
.window{ /* the size of my window is like 100%*/
    height: 100%;
    width:100%;
  }
  a{
    margin-left: auto;
    color: #EDF2F4!important;
  }
  a:hover{
    color: black!important;
    font-display: none;
    
  }
  body{
    padding: 5px;
    background-color:  #EE4266;
    font-family: 'Poppins';
    font-size: 6w;
}

input{
  border-radius: 7.5px;
  border-color: none;
  background-color: #EDF2F4;
}

#signUpSubmit, #btnSignIn, #saveMyRota, #addGroupToDB, #addMonday, #addTuesday,#addWednesday,#addThursday,#addFriday,#addSaturday,#addSunday{
  background-color: #BEEF9E!important;
  color: black;
  align-content: center;
  text-align: center;
  size: 1vw;
transition: 0.3s ease; 

}

#signUpSubmit:hover{
  transform: scale(1.5, 1.5);
}
#btnSignIn:hover{
  transform: scale(1.5, 1.5);
}
#saveMyRota:hover{
  transform: scale(1.5, 1.5);
}
#addGroupToDB:hover{
  transform: scale(1.5, 1.5);
}

#editMyRota{
  background-color: #7067CF;
  color: black;
  align-content: center;
  text-align: center;

}


#meetupLogo, #myRotaLogo, #myFriendsLogo, #myMeetsLogo, #myGroupsLogo{
  /* margin-left:50%; */
  width: 20vw;
}

/* form{
  margin-right: 25
  width: 100%;
  font-size: 1vw;
  
} */

h1{
  text-align: center;
  color: #EDF2F4;
  font-weight: bold;
  font-size: 2vw;
}
h2{
  font-size: 1vw;
  color: #EDF2F4!important;
  overflow: hidden;
  max-width:40ch;
  text-align: center;
}

#h2contacts{
  text-align: left;
}

.btn{
  align-content: center;
  text-align: center;
}


ul {list-style-type: none;}
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #EDF2F4;
}

.weekdays li {
  display: inline-block;
  width: 10vw;
  color: #3454D1;
  font-weight: bold;
  text-align: center;
}

ul {list-style-type: none;}
.myHomeMenu {
  margin: 0;
}
.myHomeMenu li{
  margin: 0;
  display: inline-block;
  width: 10vw;
}

#myMeetsButton, #myRotaButton, #myFriendsButton, #myGroupsButton, #myAddNewButton, #addNewGroupButton{
  margin-left: 10%;
  margin-right: 10%;
  width: 10vw;
  transition: 0.3s ease; 
}
#myMeetsButton:hover{
  transform: scale(1.5);
}
#myRotaButton:hover{
  transform: scale(1.5);
} 
#myFriendsButton:hover{
  transform: scale(1.5);
} #myGroupsButton:hover{
  transform: scale(1.5);
}
#myAddNewButton:hover{
  transform: scale(1.5);
} 
#addNewGroupButton:hover{
transform: scale(1.5);
}
#goBackButton:hover{
  width: 2vw;
  background: none!important;
}
ul {list-style-type: none;}
.myPersonalGroups {
  margin: 0;
}
.myPersonalGroups li{
  margin: 0;
  display: inline-block;
  width: 10vw;
}
@media (min-width: 768px)
{.container {
    max-width: 720px;
}}

p{
  position: absolute;
}
.container{
  position: relative;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#modalburger{
  width: 5vw;
  margin-right: auto;
  transition: 0.3s ease; 


}

#modalburger:hover{
transform: scale(1.5);
}

#modalfriends, #modalgroups, #modalmeets,#modalhome,#modalrota  {
  width: 6vw;
  
  margin-left: auto;
  margin-right: auto;
}
.modal-content{
  background-color: #EE4266!important;
  border-color: #EDF2F4;
  border-radius: 20px;
  border-width: 0.5vw;
  margin-left: auto;
  margin-right: auto;
 
}
#myModal{
  margin-left: 10%;
  margin-right: 10%;
  
}

#btnAddFriend{
  background-color: #BEEF9E;
  border-color: none;
}
label{
  font-size: 1vw;
  color: #EDF2F4;
}

text{
  font-size: 1vw;
  color: #EDF2F4;
}
input[type=checkbox] {
  transform: scale(1.5);
  background-color: #BEEF9E;
}
#createaccountlink, #alreadygotacct, #addfriendlink {
  font-size: 1vw;

  
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.nav, ul{
  list-style-type: none;
}

.topnav{
  margin: 0px;
  padding: 0px;
 
background-color: #7067CF;
}
